[user]
	name = Phong Nguyen
	email = "{{ .email }}"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[credential]
	helper = osxkeychain
[rebase]
	autosquash = true
[push]
	default = simple
[pull]
	rebase = true
